<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Wine List
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end" *ngIf="user">
        <button mat-raised-button color="accent" (click)="addWine()">
            <mat-icon>add_circle</mat-icon>
            Add
        </button>
        <button mat-raised-button [routerLink]="['org', user.org]">
            <mat-icon>visibility</mat-icon>
            {{userOrgs.name}}
        </button>
    </mat-card-actions>
    <app-wine-list [wines]="wines"></app-wine-list>
</mat-card>